<%- include('../partials/header.ejs')%>
<div class = "content">
    <form method = "POST" action = "/videos/<%= video._id%>?_method=PUT">
        <table>
            <tr>
                <td><label for="title" >Title</label></td>
                <td><input type="text" id="title" name="title" value = "<%= video.title%>" class = "fixed-width"></td>
            </tr>
            <tr><td class = "align-top"><label for="content">Content</label></td>
                <td><textarea rows="5" id="content" name="display" class = "fixed-width"><%= video.display%></textarea></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
            </table>        
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>