<%- include('../partials/header.ejs')%>
    <div class = "content">
      <div class="midBody">
        <%if(videos.length) {%>
            <p><b>Select a saved clip to view</b></p>
            <%videos.forEach(video=>{%>
               <a style="color: azure;" href = "/videos/<%= video._id%>"> <p><%= video.title%></p></a>
           <% });
        } else {%>
            <p><b>Your list is not currently populated, please add videos.</b></p>
        <%}%>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>