<%- include('../partials/header.ejs')%>
<div class = "content">
    <form method = "POST" action = "/streams/<%= video._id%>?_method=PUT">
        <table>
            <tr><td><label class="addLabel" for="title">Title</label></td>
                <td><input class="addText" id="title" name="title" class = "fixed-width" value = '<%= video.title%>' required></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
            </table>        
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>