*
{
text-align: center !important;
margin: auto !important;
}

#container, html{
  background-color: rgb(205, 149, 236);
  
}
body {
    /*margin: 0;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

logo h2{
  padding-top: 1%;
  background-color: rgb(71, 0, 88);
}
nav {
    overflow: hidden;
    color: white;
    background-color: rgb(129, 9, 9);
    width: 100%;
}

.table {
	display: table;
	margin: 0 auto;
  padding-bottom: 1%;
}
nav ul{
	list-style: none;
	padding-top: 1%;
}
nav ul li{
  background-color: blueviolet;
  border-style: groove;
  border-color: brown;
  display: inline;
  padding: .5% 5% .5% 5%;
}
nav a{
   text-decoration: none;
   color: white;
   display: inline-block;
 }

ul{
  list-style: none;
}

 footer {
  color: white;
  background-color: rgb(121, 8, 8);
  text-align: center;
  padding: 7px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.content{
  text-align: center;
}
.content a{
  text-decoration: none;
  color: grey;
}
.contentHome{
  padding-top: 80px;
  text-align: center;
}

#BigButton{
  padding: 20px;
}

#story{
 width: 50%;
 padding-top: 20px;
 padding-bottom: 20px
}

label{
  font-size: small;
}

a:hover, nav ul li:hover {
  background-color: rgb(255, 0, 200);
}

td{
  padding-right: 10px;
  padding-bottom: 10px;
}
.addLabel{
  font-size: large;
}
.addText{
  height: 19px;
  width: 299px;
  background-color: deepskyblue;
  color:darkred
}

.midBody{
  padding-left: 15px;
  font-size: 21px;
}

#addButton{
  color: aliceblue;
  background-color: crimson;
  height: 48px;
  width: 139px;
  font-size: medium;
  
}
.align-top{
  vertical-align: top;
}

.align-right{
  text-align: right;
}

.fixed-width{
  width: 300px;
}

input, textarea{
  font-family: Arial, Helvetica, sans-serif;
}